.preview-image-cont {
  text-align: center;
  margin: 16px;
}

.preview-image {
  max-width: 780px;
  /* height:400px; */
  margin: 0 auto;
  border: 1px solid #e1e1e1;
}

.window-height-desk{
  width:100%;
  height:calc(100vh - 46px);
}
.window-height-mob{
  width:100%;
  height:100vh;
}