.preview-header {
  background: #fafafa;
  border-bottom: 1px solid #e1e8ed;
  /* padding-top: 8px; */
  color: #454545;
  display: flex;
  align-items: center;
  padding: 8px 16px;
}

.preview-info-contener {
  /* max-width: 1280px; */
  /* height: 200px; */
  padding: 16px 24px;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 24px;
  font-weight: 600;
}

.bread-crum {
  /* max-width: 1280px; */
  padding: 0 24px;
  /* margin: 0 auto; */
  /* display:block */
}
.preview-column {
  display: grid;
  grid-template-columns: 980px 1fr;
}
.left-border {
  border-left: 1px solid #ebebf2;
  background: var(--white2);
}
.bg-color {
  background: #f2f3f7;
}

.action-btn {
  /* position: absolute; */
  z-index: 5;
  display: flex;
  /* margin-bottom: -40px; */
  width: 100%;
  /* grid-template-columns: 200px 200px; */
  justify-content: space-between;
}

.label {
  padding-right: 10px;

  display: inline-block;
  font-weight: 600;
  color: var(--clr-grey-5);
}
.text-column {
  display: grid;
  grid-template-columns: 110px 1fr;
  
  font-size: 0.84rem;
  font-weight: 600;
  color: #848484;
}
.other-work {
  margin: 16px 24px;
  font-weight: 600;
}

.work-slider {
  background: #F7F7FC;
  padding: 0 16px;
  height: 580px;
  overflow: auto;
}
.tags{
  display:flex;
  flex-wrap: wrap;
}
.item-tag{
  border:1px solid #e1e1e1;
  padding:2px 8px;
  border-radius: 4px;
  font-size: .8rem;
  color:#848484;
  margin:0 4px 6px;
}
@media (max-width: 980px) {
  .preview-column {
    display: grid;
    grid-template-columns: 1fr;
  }
}
