.banner-height {
  
  
  margin-top: 60px;
  background: url('../../../asset/home/main-bg-map.png');
background-color: var(--purple6);
  background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    /* height: 100vh; */
}
.banner-container{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax( 320px,1fr));
  align-items: center;
  max-width: 1180px;
  margin:0 auto;
  padding:40px 16px;

}

.img-border{
  border: 12px solid #ffffff;
  height:520px;
  width:440px;
  
}
.left-side{
  max-width: 420px;
  color:var(--clr-grey-2);
}
.right-side{
  margin: 0 auto;
}
.small-discription{
  
  color:var(--clr-grey-5);
  padding-bottom:20px;
}

@media (max-width:980px){
  .right-side{
 display:none
}
.left-side{
  max-width: 100%;
  text-align: center;
}
}