.site-nav {
  height: 60px;
  background-color: rgba(255, 255, 255, 0.733);
  box-shadow: var(--light-shadow);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.nav-menu {
  display: grid;
  grid-template-rows: 58px;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.nav-container {
  max-width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}

.text-sty {
  font-size: 0.8rem;

  line-height: 20px;
  color: var(--grey1);
  padding-left: 12px;
  padding-right: 12px;
}
.active {
  color: var( --clr-grey-4);
  font-weight: var(--ff-bold);
}
.mobile-menu {
  display: none;
}
.burger-menu {
  display: none;
}
.desktop-link {
  display: block;
}
@media (max-width: 980px) {

  
  .desktop-link {
    display: none;
  }
  .mobile-menu {
    display: block;
  }


.text-sty {
    
    line-height: 44px;
    display: block;
}
  .top-links {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 54px);
    background: var(--white3);
  }
  .top-links .link {
    border-bottom: 1px solid #e1e1e1;
    width: 100%;
    display: block;
    text-align: left;
    height: 54px;
    padding-left: 16px;
  }
  .burger-menu {
    display: block;
    position: absolute;
    top: 6px;
    right: 0;
  }
}
